/*

Written BY  Vortx ..... Enjoy :)
😁 Don't forget to give the credit 😁

*/
body{
    background-color: #00203FFF;
}
.card-body{
  background-color:black;
 /* box-shadow: 0 4px 8px 0 white, 0 6px 50px 0 white;*/
  box-shadow: 0 0 50px 15px #48abe0;  
}
.btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  .btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    border-radius: 0;
  }
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #4fbfa8;
    color: #ffffff;
    border-color: #4fbfa8;
    
  }

  #videoplayer{
    --plyr-color-main: #e657ff;
  }

  #videourl::placeholder {
    color: white;
  }
  #playvideo
  {
    margin-top: 20px;
  }
  .center{
    overflow: hidden;
  }
  .center:hover{
    color: white;
  }
  h3{
    color:white;
  }
  h5{
    color:white;
  }
  #dlgate{
    display:none;
    margin-top: 2%;
  }
 
  .credit{
    margin-top: 2%;
    margin-bottom:3%;
  }
  .hashhacker{
   color:black;
   font-size: 20px; 
   font-weight: 700;
   background: #0088cc;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
  }
   .bhadoo{
    font-size: 20px; 
    font-weight: 700;
    color:black;
    background: #00acee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   }
.first{
  margin-top: 18px;
  font-size: 17px; 
  font-weight: 500; 
  color: white;
}
.vortx{
  color:black;
  font-weight: 700; 
  text-decoration: none;
  background: linear-gradient(to right, #833AB4, #FD1D1D, #F77737, #FCAF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 20px;
}

.vortx2{
 text-decoration: none;
 background: linear-gradient(to right, #833AB4, #FD1D1D, #F77737, #FCAF45);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 15px;
}
.hashhackers{
  color:black;
  background: #0088cc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 15px;
}
.bhadoo2{
  color:black;
  background: #00acee;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 15px;
}
.glow {
  text-align: center;
  display: block;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
  0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 1.2s infinite alternate;
}

@-webkit-keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}